#title{
    color: red;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#encuesta{
    height: 60px;
    width: 50px;
    
}
